@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url(img/cursor.png), auto;
}

main  {
    display: flex;
    justify-content: center;
}
header {
    top: 100%;
    width: 100%;
    height: 110px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1580px;
    width: 100%;
}

.cabecera {
    display: flex;
    justify-content: center;
    max-width: 1600px;
    width: 100%;
}
.navconteiner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.navconteiner ul {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 100%;
    max-width: 795px;
}

.navconteiner li a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Anybody;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: url(img/estrella_cursor.png) 0 0, auto;
}
.navconteiner li a:hover {
    text-decoration: none;
    color: #ffd900;
    text-align: center;
    font-family: Anybody;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: url(img/estrella_cursor.png) 0 0, auto;
}


.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding-top: 80px;
}

.texto-footer {
    color: #FFF;
    font-family: Anybody;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.24px;
    padding-left: 20px;
}

.imagenes {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 1600px;
}

.presentacion {
    width: auto;
    height: auto;
    background: black;
    position: absolute;
    left: 67%;
    top: 60%;
    padding: 20px 40px 50px 40px;
}

h1 {
    font-family: Anton;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    letter-spacing: 1.4px;
}

h2 {
    font-family: Anton;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
}

h3 {
    color: #FFF;
    font-family: Archivo;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.bloque-inicio {
    padding-top: 20px;
    color: #FFF;
    font-family: Anybody;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.9px;
    width: 100%;
    max-width: 484px;
}

.presentacion aside {
    width: 100%;
    max-width: 600px;
}

.contenedor-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 160px;
}

.personaje-corre {
    z-index: 1;
    position: absolute;
    top: 58%;
    right: 46%;
    width: 1250px;
    height: 350px;
    background-image: url(img/personaje-frames/pose_20.svg);
    animation-name: corre;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: step-start;
    animation-fill-mode: none;
}

@keyframes corre {
    0% { background-image: url(img/personaje-frames/pose_2.svg);
    }

    5% { background-image: url(img/personaje-frames/pose_3.svg);
    }

    10% { background-image: url(img/personaje-frames/pose_4.svg);
    }

    15% { background-image: url(img/personaje-frames/pose_5.svg);
    }

    20% { background-image: url(img/personaje-frames/pose_6.svg);
    }

    25% { background-image: url(img/personaje-frames/pose_7.svg);
    }

    30% { background-image: url(img/personaje-frames/pose_8.svg);
    }

    35% { background-image: url(img/personaje-frames/pose_9.svg);
    }
    40% { background-image: url(img/personaje-frames/pose_10.svg);
    }

    45% { background-image: url(img/personaje-frames/pose_11.svg);
    }

    50% { background-image: url(img/personaje-frames/pose_12.svg);
    }

    55% { background-image: url(img/personaje-frames/pose_13.svg);
    }
    
    60% { background-image: url(img/personaje-frames/pose_14.svg);
    }

    65% { background-image: url(img/personaje-frames/pose_15.svg);
    }

    70% { background-image: url(img/personaje-frames/pose_16.svg);
    }

    75% { background-image: url(img/personaje-frames/pose_17.svg);
    }

    80% { background-image: url(img/personaje-frames/pose_18.svg);
    }

    85% { background-image: url(img/personaje-frames/pose_19.svg);
    }

    90% { background-image: url(img/personaje-frames/pose_20.svg);
    }

    95% { background-image: none;
    }

    100% { background-image: none;

    }
}

.pose-hover {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
}

.pose-hover:hover {
    position: absolute;
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
}

.contenedor-flor {
    position: absolute;
    top: 13%;
}

.dibujo-flor {
    position: absolute;
    animation-name: flor;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes flor {
    0% { transform: translateY(5px);
    }
    25% { transform: translateY(10px);
    }
    50% { transform: translateY(15px);
    }
    75% { transform: translateY(20px);
    }
    100% { transform: translateY(30px);
    }

}


.contenedor-abeja {
    z-index: 2;
    position: absolute;
    width: 456px;
    height: 514px;
    left: 9.5%;
}

.contenedor-abeja:hover {
    background-image: url(img/cartel_abeja.svg);

}

.abeja-vuela {
    animation-name: vuela;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes vuela {
    0% { transform: translateY(-150px);
    }
    25% { transform: translateY(10px);
          transform: translateX(9px);
          
    }
    50% { transform: rotate(10deg);
        transform: translateY(40px);
    }
    75% { transform: translateY(80px);
         transform: rotate(-10deg);
    }
    100% { transform: rotate(5deg);
           transform: translateY(165px);
    }
}

.contenedor-control {
    top: 11.5%;
    left: 45.45%;
    position: absolute;
    width: 660px;
    height: 665px;
    background-image: url(img/control_3.svg);
    background-repeat: no-repeat;
    animation-name: control;
    animation-duration: 0.75s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.cartel-diseno {
    opacity: 0;
}

.cartel-diseno:hover{
    opacity: 1;
}

@keyframes control {
    0% { background-image: url(img/control_2.svg);
         background-repeat: no-repeat;
    }
    
    100% { background-image: url(img/control_3.svg);
         background-repeat: no-repeat;
    }

}

/*----Contacto----*/

.contacto {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 66%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.personaje-dialogo{
    display: flex;
    width: 700px;
    height: 663px;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Anton;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    background-color: #000;
    width: 220px;
    height: 68px;
    border-radius: 50px;
}

.formulario-seccion {
    max-width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-family: Anybody;
    font-size: 22px;
}

label {
    display: block;
    padding-bottom: 14px;
    padding-top: 22px;
}

input {
    border: 5px solid black;
    width: 535px;
    height: 60px;
    padding-left: 10px;
    font-family: Anybody;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#mensaje {
    border: 5px solid black;
    width: 535px;
    height: 150px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-left: 10px;
    font-family: Anybody;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.boton-enviar {
    display: flex;
    justify-content: center;
    color: #000000;
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    font-size: 18px;
    letter-spacing: 1px;
    width: 220px;
    height: 68px;
    border: 5px solid #000;
    background-color: #FFF;
    border-radius: 50px;
}

.boton-enviar:hover {
    display: flex;
    justify-content: center;
    color: #000000;
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    font-size: 18px;
    letter-spacing: 1px;
    width: 220px;
    height: 68px;
    border: 5px solid #000;
    background-color: #ffd900;
    border-radius: 50px;
    cursor: pointer;
    cursor: url(img/estrella_cursor.png) 0 0, auto;
}

.enviar-div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* ----- Contacto---- */

/*---- Sobre mi ----*/

.sobre-mi {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 6%;
    padding-top: 8%;
}


.foto-perfil {
    width: 522px;
    height: 418px;
}

.foto-perfil:hover {
    display: none;
}


.contenedor-perfil {
    width: 522px;
    height: 418px;
}

.foto-perfil-2 {
    position: absolute;
    opacity: 0;
}


.foto-perfil-2:hover {
    position: absolute;
    opacity: 1;
    width: 522px;
    height: 418px;
    background-color: #FFF;
}

.info-personal {
    width: 100%;
    max-width: 900px;
    padding-left: 64px;
}

.lista-sobremi {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.lista-sobremi li {
    max-width: 900px;
    font-family: Anybody;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    letter-spacing: 0.52px;
}

.habilidades {
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: center;
    align-items: start;
    height: 1000px;
    padding-top: 5%;
}

.titulo-seccion {
    padding-top: 1%;
    width: 100%;
    max-width: 500px;
}

.main-sobre {
    display: flex;
    flex-direction: column;
}

.subtitulo-blanco {
    color: #FFF;
}

.barras-habilidades {
    width: 100%;
    max-width: 818px;
    background-color: black;
}

/*---- Sobre mi ----*/

/*---- Video ----*/

.seccion-videos {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    padding-top: 6%;
    padding-bottom: 6%;
}

.columna-videos {
    width: 100%;
    max-width: 888px;
    display: flex;
    flex-direction: column;
}

.item-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 888px;
    height: 521px;
    background-image: url(img/video-marco.svg);
    background-size: cover;
}

.pie-de-video {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 888px;
    padding-top: 10px;
    padding-bottom: 10%;
}

.texto-video {
    padding-top: 35px;
    padding-left: 18px;
    width: 100%;
    max-width: 788px;
    color: #000;
    font-family: Anybody;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 1.3px;
}

.personaje-cine {
    top: 17%;
    margin-bottom: 13%;
    margin-top: 5%;
    margin-left: 5%;
    position: sticky;
}
/*---- Video ----*/