@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url(img/cursor.png), auto;
}

main  {
    display: flex;
    justify-content: center;
}
header {
    top: 100%;
    width: 100%;
    height: 110px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1580px;
    width: 100%;
}

.cabecera {
    display: flex;
    justify-content: center;
    max-width: 1600px;
    width: 100%;
}
.navconteiner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.navconteiner ul {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 100%;
    max-width: 795px;
}

.navconteiner li a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Anybody;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: url(img/estrella_cursor.png) 0 0, auto;
}
.navconteiner li a:hover {
    text-decoration: none;
    color: #ffd900;
    text-align: center;
    font-family: Anybody;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: url(img/estrella_cursor.png) 0 0, auto;
}


.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding-top: 80px;
}

.texto-footer {
    color: #FFF;
    font-family: Anybody;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.24px;
    padding-left: 20px;
}

.imagenes {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 1600px;
}

.presentacion {
    width: auto;
    height: auto;
    background: black;
    position: absolute;
    left: 67%;
    top: 60%;
    padding: 20px 40px 50px 40px;
}

h1 {
    font-family: Anton;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    letter-spacing: 1.4px;
}

h3 {
    color: #FFF;
    font-family: Archivo;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.bloque-inicio {
    padding-top: 20px;
    color: #FFF;
    font-family: Anybody;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.9px;
    width: 100%;
    max-width: 484px;
}

.presentacion aside {
    width: 100%;
    max-width: 600px;
}

.contenedor-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 160px;
}

.personaje-corre {
    z-index: 1;
    position: absolute;
    top: 58%;
    right: 46%;
    width: 1250px;
    height: 350px;
    background-image: url(img/personaje-frames/pose_20.svg);
    animation-name: corre;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: step-start;
    animation-fill-mode: none;
}

@keyframes corre {
    0% { background-image: url(img/personaje-frames/pose_2.svg);
    }

    5% { background-image: url(img/personaje-frames/pose_3.svg);
    }

    10% { background-image: url(img/personaje-frames/pose_4.svg);
    }

    15% { background-image: url(img/personaje-frames/pose_5.svg);
    }

    20% { background-image: url(img/personaje-frames/pose_6.svg);
    }

    25% { background-image: url(img/personaje-frames/pose_7.svg);
    }

    30% { background-image: url(img/personaje-frames/pose_8.svg);
    }

    35% { background-image: url(img/personaje-frames/pose_9.svg);
    }
    40% { background-image: url(img/personaje-frames/pose_10.svg);
    }

    45% { background-image: url(img/personaje-frames/pose_11.svg);
    }

    50% { background-image: url(img/personaje-frames/pose_12.svg);
    }

    55% { background-image: url(img/personaje-frames/pose_13.svg);
    }
    
    60% { background-image: url(img/personaje-frames/pose_14.svg);
    }

    65% { background-image: url(img/personaje-frames/pose_15.svg);
    }

    70% { background-image: url(img/personaje-frames/pose_16.svg);
    }

    75% { background-image: url(img/personaje-frames/pose_17.svg);
    }

    80% { background-image: url(img/personaje-frames/pose_18.svg);
    }

    85% { background-image: url(img/personaje-frames/pose_19.svg);
    }

    90% { background-image: url(img/personaje-frames/pose_20.svg);
    }

    95% { background-image: none;
    }

    100% { background-image: none;

    }
}

.pose-hover {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
}

.pose-hover:hover {
    position: absolute;
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
}

.contenedor-flor {
    position: absolute;
    top: 13%;
}

.dibujo-flor {
    position: absolute;
    animation-name: flor;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes flor {
    0% { transform: translateY(5px);
    }
    25% { transform: translateY(10px);
    }
    50% { transform: translateY(15px);
    }
    75% { transform: translateY(20px);
    }
    100% { transform: translateY(30px);
    }

}


/*----Contacto----*/

.contacto {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 66%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.personaje-dialogo{
    display: flex;
    width: 700px;
    height: 663px;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Anton;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    background-color: #000;
    width: 220px;
    height: 68px;
    border-radius: 50px;
}

.formulario-seccion {
    max-width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-family: Anybody;
    font-size: 22px;
}

label {
    display: block;
    padding-bottom: 14px;
    padding-top: 22px;
}

input {
    border: 5px solid black;
    width: 535px;
    height: 60px;
    padding-left: 10px;
    font-family: Anybody;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#mensaje {
    border: 5px solid black;
    width: 535px;
    height: 150px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-left: 10px;
    font-family: Anybody;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.boton-enviar {
    display: flex;
    justify-content: center;
    color: #000000;
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    font-size: 18px;
    letter-spacing: 1px;
    width: 220px;
    height: 68px;
    border: 5px solid #000;
    background-color: #FFF;
    border-radius: 50px;
}

.boton-enviar:hover {
    display: flex;
    justify-content: center;
    color: #000000;
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    font-size: 18px;
    letter-spacing: 1px;
    width: 220px;
    height: 68px;
    border: 5px solid #000;
    background-color: #ffd900;
    border-radius: 50px;
    cursor: pointer;
    cursor: url(img/estrella_cursor.png) 0 0, auto;
}

.enviar-div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}